*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgb(36, 35, 37);
}
.cigarette{
    width: 300px;
    height: 30px;
    border-right: 10px solid red;
    background: white;
    box-shadow: 2px 0px 5px red;
}
.bottom{
    width: 25%;
    height: 100%;
    background: rgb(180, 80, 13);
    border-right: 7px solid grey;
}
.vapour{
    position: absolute;
    top: 46%;
    left: 64%;
    display: flex;
    z-index: 1;
}
.vapour span{
    position: relative;
    bottom: 50px;
    display: block;
    margin: 0 2px 50px;
    min-width: 4px;
    height: 80px;
    border-right: 2px solid white;
    border-radius: 50%;
    animation: animate 5s linear infinite;
    filter: blur(5px);
    animation-delay: calc(var(--i) * -0.4s);
}
.ashtray{
    position: absolute;
   height: 50px;
   width: 100px;
   background-color: gray;
   border-radius:50%;
   top: 60%;
   left: 65%;
}

@keyframes animate{
    0%{
        transform: translateY(0) scaleX(1);
        opacity: 0;
    }
    15%{
        opacity: 1;
    }
    50%{
        transform: translateY(-150px) scaleX(5);
    }
    95%{
        opacity: 0;
    }
    100%{
        transform: translateY(-300px) scaleX(10);
    }
}